@media (min-width: 960px) {
        
    .section14 {
        padding: 25px 5rem 120px;    
    }

    .sec14bonus__title {
        font-size: 34px;
    }

    .sec14MOVE__title {
        font-size: 34px;
    }

    .sec14MOVE::before {
        left: 250px;
    }
}