.section12 {
  max-width: 1440px;
  margin: auto;
  @include flex(column wrap, center, center);
  padding: 40px 1rem 0;
}

.section12-card__title {
  @extend %Acrom-Bold;
  font-size: 12px;
  margin-bottom: 30px;
  margin-left: 25px;
  letter-spacing: 1px;
}

.section12-card__part1 {
  display: block;
}

.section12-card__list--part {
  display: flex;
}

.section12-number {
  margin-right: 10px;
}

.section12-list__title {
  @extend %Acrom-ExtraBold;
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section12-list__text {
  color: #3f4144;
  @extend %Acrom-Regular;
  font-size: 9px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.section12-list__title--orange {
  @extend %Acrom-Medium;
  font-size: 9px;
  color: $orange;
  margin-bottom: 25px;
  display: block;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.section12-card__text {
  padding-bottom: 30px;
  width: 180px;
  margin-left: auto;
  text-align: left;
}

.section12-number__img {
  width: 15px;
  height: 15px;
}

.section12-number:last-child {
  margin-right: 0;
}

.section12-number__after::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #16ebfe;
}

.section12-number {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section12-list__button--orange {
  @extend %Button-orange;
  font-size: 7px;
  display: block;
  padding: 20px;

  &:hover {
    background-color: rgb(23, 236, 255);
    box-shadow: 0 9px 13px 0 rgba(23, 236, 255, 0.26);
      }

  &:active {
    background-color: rgb(6, 164, 178);
    box-shadow: 0 9px 13px 0 rgba(6, 164, 178, 0.26);
     }
  .section12-card__photo1 {
    width: auto;

  }
}

.section12-card__photo {
  display: none;
}

@media (min-width: 480px) {
  .section12-card__title {
    font-size: 18px;
    margin-bottom: 45px;
    }
  .section12-list__title {
    font-size: 13.5px;
    margin-bottom: 13px;
  }
  .section12-list__text {
    font-size: 13.5px;
    margin-bottom: 30px;
  }
  .section12-number__img {
    width: 23px;
    height: 23px;
  }
  .section12-number__after::after {
    width: 7px;
    height: 7px;
  }
  .section12-list__title--orange {
    font-size: 13.5px;
    margin-bottom: 25px;
  }
  .section12-card__text {
    padding-bottom: 30px;
    width: 275px;
  }
  .section12-list__button--orange {
    padding: 18px 25px;
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  .section12 {
    width: 640px;
    margin: auto;
  }

  .section12-card__photo {
    display: block;
  }
  .section12-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .section12-card__text {
    width: 320px;
    padding-right: 40px;
  }
  .section12-card {
    width: auto;
  }
  .section12-card__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .section12-card__list--part {
    width: 150px;
  }
  .section12-card__title {
    font-size: 27px;
    color: #000;
    margin-bottom: 50px;
    margin-left: 0;
    padding-top: 30px;
    text-align: left;
  }
  .section12-list__title {
    font-size: 9px;
    margin-bottom: 10px;

  }
  .section12-list__text {
    font-size: 8px;
  }
  .section12-list__button--orange {
    padding: 10px 4px;
    font-size: 7px;
  }
  .section12-list__button--orange {
    text-align: right;
    position: relative;
    top: -50px;
    left: 170px;
  }
  .section12-list__title--orange {
    font-size: 9px;
    margin-bottom: 0;
    width: 80px;
  }
  .section12-slash {
    margin-right: 0;
  }
  .section12-card__photo {
    width: 273px;
  }
}

@media (min-width: 960px) {
  .section12 {
    width: 800px;
    padding: 0;
    margin: auto;
  }
  .section12-card {
    width: 100%;
  }
  .section12-card__title {
    font-size: 34px;
    padding-top: 40px;
    margin-bottom: 65px;
  }
  .section12-card__text {
    width: 400px;
  }
  .section12-list__title {
    font-size: 11px;
    margin-bottom: 15px;
    width: 30px;
  }
  .section12-card__list--part {
    width: 185px;
  }
  .section12-list__text {
    font-size: 10px;
    margin-bottom: 40px;
  }
  .section12-list__title--orange {
    font-size: 10px;
  }
  .section12-list__button--orange {
    top: -78px;
    left: 204px;
    padding: 15px 20px;
  }
  .section12-card__photo1 {
    width: 346px;
  }
}

@media (min-width: 1200px) {
  .section12 {
    width: 710px;
  }
  .section12-card {
    width: 100%;
  }
  .section12-card__title {
    font-size: 30px;
    margin-bottom: 60px;
  }
  .section12-card__text {
    width: 356px;
  }
  .section12-list__title {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .section12-card__list--part {
    width: 165px;
  }
  .section12-list__text {
    margin-bottom: 35px;
  }
  .section12-card__photo1 {
    width: 310px;
  }
  .section12-list__button--orange {
    top: -63px;
    left: 194px;
    padding: 11px 12px;
  }
}

@media (min-width: 1440px) {
  .section12 {
    width: 855px;
  }
  .section12-card {
    width: 100%;
  }
  .section12-card__title {
    font-size: 36px;
    margin-bottom: 65px;
  }
  .section12-card__text {
    width: 400px;
    margin-left: 0;
  }
  .section12-list__title {
    font-size: 12px;
    margin-bottom: 17px;
  }
  .section12-card__list--part {
    width: 200px;
  }
  .section12-list__text {
    margin-bottom: 35px;
    font-size: 11px;
  }
  .section12-card__photo1 {
    width: 400px;
  }
  .section12-list__button--orange {
    top: -63px;
    left: 194px;
    padding: 11px 12px;
  }
  .section12-list__title--orange {
    font-size: 12px;
    width: 100px;
  }
  .section12-list__button--orange {
    top: -77px;
    left: 198px;
    padding: 15px 20px;
  }
}

