.section4 {
    // width: 200px;
    margin: auto;
    padding: 20px 10px 15px;
    @include flex (column, center, center);
}

.section4__success-story--title {
    width: 130px;
    line-height: 1.333;
    margin: auto;
    @extend %Acrom-ExtraBold;
    @include font ($black, 12, uppercase);
    margin-bottom: 28px;
}

.section4__success-story--text {
    width: 170px;
    line-height: 1.444;
    margin: auto;
    @extend %Acrom-Medium;
    @include font (black, 9, capitalize);
    margin-bottom: 40px;
}

.section4__success-story--text-bold {
    background-color: #000;
    color: #fff;
}

.section4__success-story--main {
    margin: auto;
    width: 196px;
    display: flex;
    align-content: space-between ;
}


.section4__succes-story--dash {
    width: 13px;
    height: 2px;
    background-color: #000;
    margin-top: 9px;
    // margin-left: 19px;768
}

.section4__wrapper--forarticle {

    width: 196px;
    position: relative;
}

.section4__article {
    overflow: scroll;
    margin: auto;
    width: 196px;
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.15);
    @include flex (row, space-around, flex-start);
}

.section4__article--photo-w-desc {
    width: 35px;
    display: block;
}

.section4__article--photo-desc {
    @extend %Acrom-ExtraBold;
    @include font (black, 4, uppercase);
    line-height: 1.2;
}

.section4__article--text {
    width: 110px;
    @extend %Acrom-Regular;
    @include font (black, 4, capitalize);
    line-height: 1.714;
}

.section4-buttons {
    font-size: 0;
    position: absolute;
    right: 0px;
}

.section4-btn-left {
    width: 10px;
    height: 10px;
    background-color: #000;
    border: none;
    margin-right: 1px;
    background-image: url(../img/arrow1.png);
    background-repeat: no-repeat;
    background-position: center;
    // background-size: contain;
}
  
.section4-btn-right {
    width: 10px;
    height: 10px;
    background-color: #000;
    border: none;
    background-image: url(../img/arrow2.png);
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar {
    width: 3px; height: 3px;
    }

::-webkit-scrollbar-button {
    background-color: #666; 
    }

@media screen and (min-width: 480px) {
    .section4 {
        width: 294px;
    }

    .section4__success-story--main {
        width: 292px;
    }
    .section4__success-story--title {
        width: 175px;
        font-style: 18px;
    }
    .section4__success-story--text {
        width: 290px;
        font-style: 13.5px;
        text-align: center;
    }

    .section4__wrapper--forarticle {
        width: 292px;
    }

    .section4__article {
        width: 292px;
        display: flex;
    }
    .section4__article--text {
        width: 170px;
        font-style: 6px;
        line-height: 1.714;
    }
    .section4__article--photo-desc {
        font-style: 6px;
    }
}
.section4__article--photo-w-desc {
        width: 55px;
        // height: 55px;
}
.section4-buttons {
        
}   

@media (min-width: 768px) {
    .section4 {
        display: flex;
        width: 635px;
        flex-direction: row;
        justify-content: space-between;
    }
    .section4__success-story {
        width: 165px;
    }

    .section4__success-story--main {
        width: 175px;
    }

    .section4__wrapper--forarticle {
        width: 420px;
    }

    .section4__article {
        width: 420px;
        display: flex;
    }
    .section4__success-story--title {
        width: 140px;
        font-size: 23px;
    }
    .section4__success-story--text {
        width: 115px;
        font-size: 9px;
    }
    .section4__article--text {
        width: 240px;
        font-size: 8px;
        line-height: 1.714;
    }
    .section4__article--photo-w-desc {
        // width: 80px;
    }
    .section4__article--photo-desc {
        font-size: 7px;
    }
}

@media (min-width: 960px) {
    .section4 {
        display: flex;
        width: 800px;
        flex-direction: row;
        justify-content: space-between;
    }
    .section4__success-story {
        width: 210px;
    }

    .section4__success-story--main {
        width: 210px;
    }

    .section4__wrapper--forarticle {
        width: 520px;
    }

    .section4__article {
        width: 520px;
        display: flex;
    }
    .section4__success-story--title {
        width: 210px;
        font-size: 34px;
    }
    .section4__success-story--text {
        width: 140px;
        font-size: 11px;
    }
    .section4__article--text {
        width: 300px;
        font-size: 10px;
        line-height: 1.714;
    }
    .section4__article--photo-w-desc {
        // width: 97px;
    }
    .section4__article--photo-desc {
        font-size: 9px;
    }
}

@media (min-width: 1200px) {
    .section4 {
        display: flex;
        width: 660px;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .section4__success-story {
        width: 195px;
    }

    .section4__success-story--main {
        // width: 195px;
    }

    .section4__wrapper--forarticle {
        width: 475px;
    }

    .section4__article {
        width: 475px;
        display: flex;
    }
    .section4__success-story--title {
        // width: 195px;
        font-size: 29px;
    }
    .section4__success-story--text {
        // width: 140px;
        font-size: 11px;
    }
    .section4__article--text {
        width: 266px;
        font-size: 10px;
        line-height: 1.714
    }
    .section4__article--photo-w-desc {
        width: 90px;
    }
    .section4__article--photo-desc {
        font-size: 9px;
    }
    .section4__article--photo-container {
        display: block;
        width: 70px;
    }
}    

  
  